packages
.git
.env
app/.env*
app/composer.dev.*
app/storage
work
.idea

app/identity.local.php
.test-storage
app/config/*-ca.pem

app/logs
tools/style

docker/rootfs/etc/nginx/ssl/*
!docker/rootfs/etc/nginx/ssl/.gitkeep
