/.env
/app/.env*
!/app/.env.example
/app/vendor/
/app/composer.dev.json
/app/composer.dev.lock
/app/.phpunit.cache/
/app/storage/*
!/app/storage/.gitkeep
/work/
/.idea/
.DS_Store

/app/identity.local.php
/app/config/*-ca.pem

/.test-storage/

__pycache__/
*.pyc

/app/logs/
